<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.spring.security.jwt.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.liao.spring.security.jwt.domain.Role">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_desc" jdbcType="VARCHAR" property="roleDesc"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, role_name, role_code, role_desc, sort, `status`, create_time
    </sql>
    <select id="getRoleByUsername" resultMap="BaseResultMap">
        select sys_role.id, role_name, role_code, role_desc, sort, status, create_time
        from sys_user
                 join sys_role_user on sys_user.id = sys_role_user.user_id
                 join sys_role on sys_role.id = sys_role_user.role_id
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="getRoleCodesByUsername" resultType="java.lang.String">
        select role_code
        from sys_user
                 join sys_role_user on sys_user.id = sys_role_user.user_id
                 join sys_role on sys_role.id = sys_role_user.role_id
        where username = #{username,jdbcType=VARCHAR}
    </select>

</mapper>